# -------------------------------------------------------
# Dependencies
# -------------------------------------------------------

node_modules/
**/node_modules/


# -------------------------------------------------------
# Production / development builds
# -------------------------------------------------------

dist/
**/dist/

dev-dist/
**/dev-dist/


# -------------------------------------------------------
# Environment variables / secrets
# -------------------------------------------------------

.env
.env.*
!.env.example

**/.env
**/.env.*
!**/.env.example


# -------------------------------------------------------
# Logs
# -------------------------------------------------------

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*


# -------------------------------------------------------
# Editors
# -------------------------------------------------------

.vscode/
.idea/


# -------------------------------------------------------
# Operating system
# -------------------------------------------------------

.DS_Store
Thumbs.db


# -------------------------------------------------------
# Temporary files
# -------------------------------------------------------

*.tmp
*.temp